.ScrollBar {
  position: relative;
  overflow: hidden;

  .scroll-bar {
    &-control {
      position: absolute;

      &-common {
        background-color: #666;
        border-radius: 3px;
      }

      &-x {
        left: 0;
        bottom: 0;
      }

      &-y {
        width: 6px;
        top: 0;
        right: 0;
      }
    }
  }
}